
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">

<div class="center-column">

	<form method="POST" action="/">
		{% csrf_token %}
		{{form.title}}
		<input class="btn btn-info" type="submit" name="Create Task">
	</form>

	<div class="todo-list">

	{% for task in tasks %}
		<div class="item-row">
			<a class="btn btn-sm btn-info" href="{% url 'update_task' task.id %}">Update</a>
			<a class="btn btn-sm btn-danger" href="{% url 'delete_task' task.id %}">Delete</a>

			{% if task.complete == True %}
            <div class="task-container">
                <strike class="task">{{task}}</strike>
                <p class = "task-created">{{task.created}}</p>
            </div>
			{% else %}
            <div class="task-container">
                <span class="task">{{task}}</span>
                <p class = "task-created">{{task.created}}</p>
            </div>
			{% endif %}
		</div>
	{% endfor %}
	</div>
</div>
